.divider {
    width: 100%;
    background-color: var(--corVerdeClaro);
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    flex-shrink: 0;
    border-top: 1px solid var(--corVerdeEscuro);

}

.large {
    width: 100%;
}

.medium {
    width: 60%;
}

.small {
    width: 30%;
}

.corVerdeEscuro {
    border-color: var(--corVerdeEscuro);
}

.corBranca {
    border-color: var(--corBranca);
}

.corDourada {
    border-color: var(--corDourada);
}